[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
docopt = "*"
sendgrid = "==5.6.0"
sgw = {git = "https://github.com/sdelquin/sgw.git"}
prettyconf = "*"
requests = "*"

[dev-packages]
flake8 = "*"
yapf = "*"
rope = "*"
fabric3 = "*"

[requires]
python_version = "3.7"
